
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="animation-enabled animated-content colorize js no-flexbox flexbox-legacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths wf-brandongrotesque-n4-active wf-brandongrotesque-n7-active wf-brandongrotesque-n3-active wf-brandongrotesque-n5-active wf-futurapt-n7-active wf-futurapt-i7-active wf-futurapt-n4-active wf-futurapt-i4-active wf-active"><head>


  <link rel="stylesheet" id="main-styles-css" href="http://www.alessioatzeni.com/wp-content/themes/az/style.css" type="text/css" media="all">
  <script type="text/javascript" src="http://www.alessioatzeni.com/wp-includes/js/jquery/jquery.js"></script>
  <script type="text/javascript" src="http://www.alessioatzeni.com/wp-includes/js/jquery/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="http://www.alessioatzeni.com/wp-content/plugins/dynamic-cookie-blocker/js/front.js"></script>
  <link rel="alternate" type="application/json+oembed" href="http://www.alessioatzeni.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.alessioatzeni.com%2F">
  <link rel="alternate" type="text/xml+oembed" href="http://www.alessioatzeni.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.alessioatzeni.com%2F&amp;format=xml">

<!--  sets lenght of div based on on how many pictures are uploaded-->
  <script>
      function upds_log(m1, m2, m3, m4, m5) {
          if(console && console.log)
              console.log('DCB: ' + m1, m2 || '', m3 || '', m4 || '', m5 || '');
      }

      function upds_getCookie(cname)
      {
          var name = cname + '=';
          var ca = document.cookie.split(';');
          for(var i=0; i<ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) == ' ') c = c.substring(1);
              if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
          }
          return '';
      }
  </script>

  <style>
    span.upds_cookie_policy
    {
      width:0px; height: 0px;  margin: 0 !important; padding: 0 !important;
    }

    .upds-no-cookie-placeholder
    {
      background-color: #eee;
      border: 1px solid #aaa;
      display: none;
    }
  </style>
</head>

<body>

<!-- Loading -->
<div id="loader-container" style="opacity: 0; display: none;">
	<span id="loader-percentage-line" style="height: 100%;">
		<span id="loader-percentage">100</span>
	</span>
</div>
<!-- End Loading -->

<!-- Start Wrap All -->
<div class="wrap_all" style="opacity: 1; visibility: visible;">

  <!-- Header -->
  <header id="menu">
    <a id="mobile-nav" class="menu-nav dJAX_internal desktop-view" href="#menu-pr"><span class="fa fa-bars"></span></a>
    <nav id="menu-pr" class="desktop-view">
      <ul>
        <li><a title="About" href="/users/signup" class="dJAX_internal">About<i class="fa fa-beer" data-id="123"></i></a></li>
        <li><a title="About" href="/users/signup" class="dJAX_internal">About<i class="fa fa-user" data-id="123"></i></a></li>
        <li><a title="About" href="/users/signup" class="dJAX_internal">About<i class="fa fa-user" data-id="123"></i></a></li>
        <li><a data-toggle="modal" href="#" data-target="#myModal" title="Contact" class="dJAX_internal">Contact <i class="contact"></i></a></li>
      </ul>
    </nav>
  </header>
  <!-- End Header -->

  <!-- Loader -->
  <div class="page-bg" style="display: none;"></div>
  <div class="page-loader" style="display: none;"></div>
  <!-- End Loader -->

<!--  Event.first.image.file.file-->

<!--  <td><%#= image_tag(event.image.url, class: "img-responsive center-block") if event.image.url.present? %></td>-->

  <!-- Start Main -->
  <div id="main" class="ajaxable" style="display: block;">
    <div id="content-portfolio">
      <section id="works">
        <ul id="projects" style="width: 5973px;">
          <% Event.all.each do |event| %>
            <li class="item-projects flip-container animate-helix-off" style="height: 872px;">
              <div class="flipper">
                <div class="front" style="background-image: url(<%= event.image.url %>);"></div>
                <div class="back">
                  <a href="http://www.alessioatzeni.com/portfolio/ibuki/" title="Ibuki" class="dJAX_internal">
                    <div class="conte-title">
                      <h3 class="title-pro">Team</h3>
                      <h4 class="capt">Gripa</h4>
                    </div>
                  </a>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
  <!-- End Main -->

</div>
<!-- End Wrap All -->

<script type="text/javascript" src="http://www.alessioatzeni.com/wp-content/themes/az/_include/js/plugins.js"></script>
<script type="text/javascript" src="http://www.alessioatzeni.com/wp-content/themes/az/_include/js/main-not-compiled.js"></script>
<script type="text/javascript" src="http://www.alessioatzeni.com/wp-includes/js/wp-embed.min.js"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var cnArgs = {"ajaxurl":"http:\/\/www.alessioatzeni.com\/wp-admin\/admin-ajax.php","hideEffect":"fade","upds_accept_on_scroll":"no","upds_accept_on_page_click":"yes","upds_accept_force_refresh":"yes","cookieName":"cookie_notice_accepted","cookieValue":"TRUE","cookieTime":"31536000","cookiePath":"\/","cookieDomain":""};
    /* ]]> */
</script>