/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

h2 {
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}
form {
    width: 300px;
    margin: 0 auto;
}

Html, body{
    height:100%;
}

.grandParentContaniner{
    display:table; height:100%; margin: 0 auto;
}

.parentContainer{
    display:table-cell; vertical-align:middle;
}

body,
html {
    padding: 0 10px;
    margin: 0;
    background: #34343F;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
* {
    box-sizing: border-box;
}
h1,
p {
    text-align: center;
}
p {
    width: 100%;
    max-width: 500px;
    margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
}
a:hover {
    color: #7f8c8d;
    text-decoration: underline;
}
.contain {
    width: 100%;
}
.row {
    overflow: scroll;
    width: 100%;
    heigth: 100%;
}
.row__inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70.3125px 0;
    padding-bottom: 10px;
}
.tile {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 100%;
    margin-right: 1px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}


.tile:hover .tile__details {
    opacity: 1;
}

.row__inner:hover {
    -webkit-transform: translate3d(-62.5px, 0, 0);
    transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
    opacity: 0.3;
}
.row__inner:hover .tile:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}
.tile:hover ~ .tile {
    -webkit-transform: translate3d(125px, 0, 0);
    transform: translate3d(125px, 0, 0);
}

.cell_view{
    margin-top: 5px;
    width: 400px;
    height: 1000%;
    margin-right: 10px;
    font-size: 20px;
}

.space{
    margin-top: 100px;margin-top: 100px;
}

.color{
  margin-bottom: 200px;
}